
body{
  padding:1%;

}
#carrusel_ls{
  width: 50%;
  margin:auto;
  
}
.carousel .item {
  height: 300px;
}

#productos{
display:none;
}

#dinar{
  display:none;
  }

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#productos_cesta{
  margin-top:2%;
  padding: 3px 5px;
  width: 100%;
  height: auto;
  display: flex;
  margin-top:8%;
}

#cesta{
  font-weight: bolder;
}

.productos{ 
  align-content: center;
  padding: 3px 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  text-align: center;
  
}

h3{
  text-align: center; 
}

.titulo_y_productos{
  width: 75%;  
  
}

.titulo_y_cesta{
  text-align: center;
  width: 25%;
  font-weight: bolder;
  margin-top: 10%;
}

.producto{
  width: 150px;
  margin: 1%;
  /*background-color: */
}
.producto_nombre{
  font-weight: bold;
}

img{
 width: 100%;
}

.cabecera{
  background-image: "1.png";
  height: 30%;
  text-align: center;
  color:red;
}

.landing_div{
  width: 100%;
  padding-top:10%; 
  text-align: center;
  background-image: url("img/23.jpg");
  
}

.iconos_add_remove{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  vertical-align: bottom;
  cursor: pointer;
}

.iconos_add_remove img{
  width: 25%;
}
.iconos_add_remove img:hover {
  transform: scale(1.2);
} 


.footer{
  height: 55%;
  width: 100%;
  position: relative;
  padding-bottom: auto;
  background-color: #efefef;
  _border: 2px solid black;  
}

.footer_contenedor {height: 100%; width:100%;  justify-content: space-around;}
.footer_contacto, .footer_copyright, .footer_mapa {display: inline-block; *display: inline; margin-top:2%;}
.footer_contacto {width: 55%; height:auto; text-align: center;}

.footer_mapa {width: 41%; vertical-align: top; height: auto; text-align: center; margin: 0 1%;margin-top:2%; }

/*BOTONES*/

#boton_pedido, #boton_vaciar{
  border-radius: 4px;
  margin: 2% auto;
}
#boton_pedido{
    background-color: #4CAF50;
}
#boton_vaciar{
  background-color: #FE6064;
}




#happy {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}