<div class="footer">

    <div>
        <div class="footer_contenidor">
            <div class="footer_contacto">
                <h2>Contacta con nosotros</h2>
                <p>Teléfono: <a>+34 932 033 332</a> </p>
                <p>Email: <a href="mailto:a8076391@xtec.cat" target="_blank">a8076391@xtec.cat</a></p>
                <p>Horari: de 8:00h a 18:00h</p>
                <p>Más información <a href="http://www.institutpedralbes.cat/"
                        target="_blank">www.institutpedralbes.cat</a></p>
            </div>
            <div class="footer_mapa">
                <h2>¿Dónde nos encontramos?</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11972.733319734776!2d2.115463698318239!3d41.391824836436875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a499ab52ac5915%3A0x6aa6cec8d33831e1!2sInstitut%20Pedralbes!5e0!3m2!1sca!2ses!4v1571901920522!5m2!1sca!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="footer-copyright text-center py-3">
                <p id="happy"> &copy; Copyright 2019 cantinapedralbes.cat<p>
            </div>
            
        </div>
    </div>

</div>